{% extends 'app/start_tlo.html' %} 
{% block content %}



<form style="margin-top: 50px;" action="" method="POST" class="text-center">
  {% csrf_token %}
  

  <div class="mail-box" style="margin-left: 400px">
    <h1 style="font-size: 25px;color: #bdbdbd">Mail</h1>
    <div class="textbox" style="margin-left: 125px">
        <i class="fas fa-user"></i>
        {{ form.email }}
    </div>
  </div>


  <input style="margin-top: 20px; margin-left: 400px; width: 130px;" class="btn btn-success" type="submit" value="Wyślij email" /><br><br><br>
</form><br/>

{% endblock %}