{% extends 'app/start_tlo.html' %} 

{% block content %}

<div class="row">
  <div class="col-12">
     <div class="card shadow-lg">





<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>Password Reset Form</h1>
  <h6 style="width: 60%; margin: 0 auto">
    Please enter your new password so we can verify.
  </h6>
</div>
<br />
<form action="" method="POST">
  {% csrf_token %} 
  {{form}}
  <input type="submit" value="Zresetuj hasło"/>
</form>



</div>
</div>
</div>

{% endblock %}