{% extends 'app/main_tlo.html' %} 


{% block content %}

<form method="POST" enctype="multipart/form-data">

    <legend class="border-bottom mb-4">Ustawienia wyszukiwania</legend>
    <div class="field edit">
    <form method="post" enctype="multipart/form-data">
        <ul class="list-group list-group-flush border-bottom mb-4" style="height: 520px; width: 100%; overflow-x:hidden; float: left;">
            <li class="list-group-item" style="background-color: rgb(228, 228, 228); ">
                <div class="textbox" style="width: 20%; font-size: large;">
                    <label style="float: left;">Przedmiot:</label>
                    {{ profile_settings_form.przedmiot }}
                </div>
                <div class="textbox" style="width: 20%; font-size: large;">
                    <label style="float: left;">Miejscowość:</label>
                    {{ profile_settings_form.miejscowosc }}
                </div>
                <div class="textbox" style="width: 20%; font-size: large;">
                    <label style="float: left;">Cena:</label>
                    {{ profile_settings_form.cena }}
                </div>
            {% csrf_token %}
            
            </li>
        
        </ul>
        <div class="textbox" style="width: 50%; padding-top: 420px; padding-bottom: 10px;">
            <p><input type="submit" class="btn btn-secondary" value="Zapisz zmiany"></p>
        </div>
        </form>
        
    </div>
</form>
{% endblock %}