{% extends 'app/main_tlo.html' %} 

{% block content %}


            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <center>
                    <img src="https://previews.dropbox.com/p/thumb/ABCa1TRBh3x7TlibggX8yV6MdSWLBpyoGgSAfr3qWN-tFfataFxDT3_Mo8valWiV33sqrUXe7D7caFbLG4icKHsfI7c0_tK3XRzeQNJ-lt2gKVuJfj5h-1Y2dHjVsdKSZ0OYg-fFACnifAGHQeiIJcg0bvQ52gWXleP73uMmPEU3MfQ96MXL6DWAZ3hzB3q4MlcRVuwSvJxx9BQH-IpabOSDTakm-rwA3f6_KJdAY0oi2Ahcf_wriWIKO6YAluw02SM3yXzEK_cn92rnHohZjaS8qopu-LuJUys4fE3_Ot161ZyoW5qvjSragD8jyXYsdGGyNKnD7A_qafjxsW2PthGgfWazQDqazlnktGCswYckTQ/p.png?fv_content=true&size_mode=5" class="d-block h-100" alt="...">
                    </center>
                    <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <center>
                    <img src="https://previews.dropbox.com/p/thumb/ABATiGj5K_awDQwG_Zg49NobcfireRA7kSotVEaxSrpDj1YtZnLMRHfszllbAfUSlO0OqdKQW-w3ztJGb9NLdJBRho_lr8vNGNNYKkYoZ-TwCGJaCsxkdX30BzHX5rwjn1rZYPZBY5YA85Vk8bsGYcwilZB7CchFw25Pp_Aj6dyOfvdP9pQHYgPKC2ACwQ2wXXwbtow-9zcmC3hl6aGgy_UJ6Rugq8dortp2AyNW-Ym5Z3oFbivOMJt3cKqCoHtY2IiXUlaWjQ4zGfneXu8lReK64yTR3C7X_WDVJ-EOcTvWeKCntt5_feSaR-snvrie4zqFuZ3840yIHenWaqTeOfK-S9v_OEcWEpWpwf05mDwrIA/p.png?fv_content=true&size_mode=5" class="d-block h-100" alt="...">
                    </center>
                    <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <center>
                    <img src="https://previews.dropbox.com/p/thumb/ABAk0l9voUSUeIhL5rubW_DvkO3wH9MeOEF_2sZCuMl51fPd8fcz_OQ9iZseun2cOlLWJ2HjAxDgBeBaAeu3Sxa2yxoYVA132C_YJyZnm0opzflAkoaHKUOucNNTkw4CKAPlHXpmGRrqJ4FglnifOtPZdT8f_YIwM-2qzB3Db717BWhLZSANWYY8rrpIijMao9YnEeOin4l0vmaUVDYbiTF0EpbsvlwtGj70CY41-PwbnrZJOz0EqTKbiZ2W6dgMmpFBVs91JVZR7aT-rVP9lkjQZfLCdmGPxK7cRivFznfheXMLctdIQwGY2fSomIU1D-DPtRp_yiGM-146s_MJr5K7hDUZU57KzIibif8hmnj9Yg/p.png?fv_content=true&size_mode=5" class="d-block h-100" alt="...">
                    </center>
                    <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p></p>
                    </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>

{% endblock %}