{% extends 'app/main_tlo.html' %} 

{% block content %}

<div>
<img class="mr-3" src="https://cdn4.iconfinder.com/data/icons/diversity-v2-0-volume-03/64/superhero-spiderman-comics-512.png" height="120px" width="120px" alt="avatar">

    <br><br>
    <h1>USER NAME</h1>
    <h4>Opis</h4>

    <ul class="list-group list-group-flush" style="height: 300px; overflow-x:hidden;">
        <li class="list-group-item">

                <div class="uzytkownik_opis" id="opis_panel">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec urna sit amet odio lacinia laoreet. 
                Etiam scelerisque, sapien tincidunt tempus dignissim, quam ex sollicitudin turpis, eget bibendum quam arcu et ligula. Praesent id malesuada dui. 
                Aliquam eu erat eget quam egestas suscipit nec vitae felis. Donec eleifend tortor sed urna congue, id elementum est pulvinar. 
                Praesent ullamcorper ipsum nunc. Nam eget pulvinar augue. Sed convallis libero ullamcorper, suscipit velit sed, ullamcorper elit.

                <br><br>

                Proin vel nunc ac libero posuere cursus. Morbi lobortis in sapien ut mollis. Sed est libero, dapibus quis vestibulum et, pretium nec ante. 
                Aliquam vestibulum viverra lacinia. Integer sit amet dictum lacus. Fusce dignissim, purus tempor lacinia dictum, 
                urna neque blandit ipsum, nec porttitor sapien nisl quis velit. Donec neque purus, facilisis id nisi at, pretium vestibulum massa.
                Sed imperdiet, sem finibus rhoncus efficitur, quam nibh tempor lectus, ut accumsan nibh ligula vel lorem. 
                Quisque eleifend facilisis dui, id finibus magna. Vestibulum dignissim turpis pretium sapien convallis, nec fringilla quam euismod. 
                Morbi tempor rutrum nunc eget mattis. Aenean commodo eleifend aliquet. Sed suscipit metus id felis auctor, ut mollis nunc aliquam. 
                Integer pharetra fermentum ex, nec rutrum lorem placerat vel. Vestibulum pharetra sapien at ultrices facilisis.
                </div>

        </li>
    </ul>
    <br>
    <h4>Przedmioty</h4>
    <div class="jezyk_box" style=" display: inline-block; border-radius: 5px; height: 2em; border: 2px solid rgb(35, 151, 40); outline: none; text-align: center;"><p>przedmiot1</p></div>
    <div class="jezyk_box" style=" display: inline-block; border-radius: 5px; height: 2em; border: 2px solid rgb(35, 151, 40); outline: none; text-align: center;"><p>przedmiot2</p></div>
    <div class="jezyk_box" style=" display: inline-block; border-radius: 5px; height: 2em; border: 2px solid rgb(35, 151, 40); outline: none; text-align: center;"><p>przedmiot3</p></div>
    <div class="jezyk_box" style=" display: inline-block; border-radius: 5px; height: 2em; border: 2px solid rgb(35, 151, 40); outline: none; text-align: center;"><p>przedmiot4</p></div>
    <div class="jezyk_box" style=" display: inline-block; border-radius: 5px; height: 2em; border: 2px solid rgb(35, 151, 40); outline: none; text-align: center;"><p>przedmiot5</p></div>
    

</div>
{% endblock %}