{% extends 'app/main_tlo.html' %} 

{% block content %}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
    <div class="carousel-item active">
        <center>
            <iframe src="{% url 'panel_podglad' %}" title="W3Schools Free Online Web Tutorials" class="d-block h-100 w-100" alt="..."></iframe>
                            </center>
        <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
        </div>
    </div>
    <div class="carousel-item">
        <center>
            <img src="https://i.ibb.co/sy5vs7W/zdjecie2.png" class="d-block h-100" alt="...">                    </center>
        <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
        </div>
    </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
    <br>
</div>
<button type="button" class="btn btn-primary" onclick="showMess()" style="margin-left: 320px;">Usuń</button>
<button type="button" class="btn btn-primary" onclick="showMess()">Dodaj</button>

{% endblock %}