*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{

    font-size: 10px;
}


body{
    margin: 0;
    padding: 0;
    background: url("./images/korepder-tlo.png") no-repeat;
    background-size: cover;
}






@keyframes showCard{

    0%{
        transform: scale(0) rotate(0);
    }
    
    100%{
        transform: scale(1) rotate(0);
    }
}


.card{
    position: absolute;
    margin-left:490px;
    animation: showCard 1s;
    background-color: #262626;

    
}


.card-body{
    height: 500px;
    width: 900px;
    
    
}


.btn{
    width: 50%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.btn.btn-danger{

    width: 30%;
    border: 2px solid red;
}

.btn.btn-primary{

    width: 30%;
    border: 2px solid rgb(27, 91, 165);


}


.btn.btn-secondary{
    width: 30%;
    border: 2px solid #252525;
    font-size: 12px;

}


.login-box{

    margin-left: 400px;
}


.login-box h1{

    font-size: 25px;
    color: #bdbdbd;
}


.mail-box{

    margin-left: 400px;
}


.mail-box h1{

    font-size: 25px;
    color: #bdbdbd;
}


.card h1{
    
    color: #bdbdbd;
}

.card h5{

    color: #bdbdbd;
}


.card h6{

    color: #bdbdbd;
}






.textbox{

    width: 50%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 10px 0;
    border-bottom: 1px solid #4caf50;
}

.textbox i{
    width: 26px;
    float: left; 
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

    









